<form id="edit-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
    {:token()}
    <div class="form-group">
        <label for="merchant_name" class="control-label col-xs-12 col-sm-2">商户名称:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="merchant_name" name="row[merchant_name]" placeholder="请输入" value="{$row.merchant_name|htmlentities}" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label for="merchant_billing_around" class="control-label col-xs-12 col-sm-2">结算周期:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="merchant_billing_around" name="row[merchant_billing_around]" placeholder="D+几" value="{$row.merchant_billing_around}" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label for="merchant_note" class="control-label col-xs-12 col-sm-2">下发备注:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="merchant_note" name="row[merchant_note]" placeholder="备注" value="{$row.merchant_note}" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label for="status" class="control-label col-xs-12 col-sm-2">状态:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['1'=>__('Normal'), '0'=>'禁用'], $row['status'])}
        </div>
    </div>

    <div class="form-group">
        <label for="collection_fee_rate" class="control-label col-xs-12 col-sm-2">代收手续费:</label>
        <div class="col-xs-12 col-sm-3">
            <input type="number" class="form-control" id="collection_fee_rate_per" name="row[collection_fee_rate_per]" placeholder="百分之几"  value="{$row.collection_fee_rate_per}" data-rule="required;range(0~100)" />
            <div class="col-xs-12 col-sm-3">+</div>
            <input type="number" class="form-control" id="collection_fee_rate_sigle" name="row[collection_fee_rate_sigle]" placeholder="每笔" value="{$row.collection_fee_rate_sigle}" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label for="collection_limit" class="control-label col-xs-12 col-sm-2">每日代收限额:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="number" class="form-control" id="collection_limit" name="row[collection_limit]" placeholder="请输入" value="{$row.collection_limit}" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label for="collection_low_money" class="control-label col-xs-12 col-sm-2">代收最低金额:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="number" class="form-control" id="collection_low_money" name="row[collection_low_money]" placeholder="请输入" value="{$row.collection_low_money}" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label for="collection_high_money" class="control-label col-xs-12 col-sm-2">代收最高金额:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="number" class="form-control" id="collection_high_money" name="row[collection_high_money]" placeholder="请输入" value="{$row.collection_high_money}" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label for="collection_status" class="control-label col-xs-12 col-sm-2">代收状态:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[collection_status]', ['1'=>__('Normal'), '0'=>'禁用'], $row['collection_status'])}
        </div>
    </div>
    <div class="form-group">
        <label for="collection_channel_id" class="control-label col-xs-12 col-sm-2">代收卡池:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_checkboxs('row[collection_channel_id][]', $collectionName, $row['collection_channel_id'])}
        </div>
    </div>

    <div class="form-group">
        <label for="payment_fee_rate" class="control-label col-xs-12 col-sm-2">代付手续费:</label>
        <div class="col-xs-12 col-sm-3">
            <input type="number" class="form-control" id="payment_fee_rate_per" name="row[payment_fee_rate_per]" placeholder="百分之几" max="100" value="{$row['payment_fee_rate_per']}" data-rule="required;range(0~100)" />
            <div class="col-xs-12 col-sm-3">+</div>
            <input type="number" class="form-control" id="payment_fee_rate_sigle" name="row[payment_fee_rate_sigle]" placeholder="每笔" value="{$row['payment_fee_rate_sigle']}" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label for="payment_limit" class="control-label col-xs-12 col-sm-2">每日代付限额:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="number" class="form-control" id="payment_limit" name="row[payment_limit]" placeholder="请输入" value="{$row['payment_limit']}" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label for="payment_low_money" class="control-label col-xs-12 col-sm-2">代付最低金额:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="number" class="form-control" id="payment_low_money" name="row[payment_low_money]" placeholder="请输入" value="{$row['payment_low_money']}" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label for="payment_high_money" class="control-label col-xs-12 col-sm-2">代付最高金额:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="number" class="form-control" id="payment_high_money" name="row[payment_high_money]" placeholder="请输入" value="{$row['payment_high_money']}" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label for="payment_status" class="control-label col-xs-12 col-sm-2">代付状态:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[payment_status]', ['1'=>__('Normal'), '0'=>'禁用'], $row['payment_status'])}
        </div>
    </div>
    <div class="form-group">
        <label for="payment_channel_id" class="control-label col-xs-12 col-sm-2">代付卡池:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_checkboxs('row[payment_channel_id][]', $paymentListName, $row['payment_channel_id'])}
        </div>
    </div>
    <!-- <div class="form-group">
        <label for="big_payment_channel_id" class="control-label col-xs-12 col-sm-2">单笔高于1K代付通道:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('row[big_payment_channel_id]', $paymentListName, $row['big_payment_channel_id'], ['class'=>'form-control selectpicker'])}
        </div>
    </div> -->

    <div class="form-group">
        <label for="use_ip" class="control-label col-xs-12 col-sm-2">报备IP:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="use_ip" name="row[use_ip]" placeholder="多个设置，用|隔开" value="{$row['use_ip']}" />
        </div>
    </div>

    <div class="form-group">
        <label for="checksum" class="control-label col-xs-12 col-sm-2">谷歌验证码:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="checksum" name="row[checksum]" laceholder="请输入" autocomplete="off" value="" data-rule="required" />
        </div>
    </div>

    <input type="hidden" name="row[id]" value="{$row.id}">
    
    <div class="form-group hidden layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
